/* Applied to all */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Hero/ Header */

.hero {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: block;
    flex-wrap: wrap;
    color: rgb(29, 112, 151);
}
.hero h2 {
    font-size: 42px;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.hero h3 {
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
}

.hero-box {
    width: 30%;
    background-color: rgba(209, 204, 174, 0.8);
    left: 0px;
    display: flex;
    align-items: center;
}

.self-img {
    display: flex;
    margin: 5px 20px 5px 20px;
    padding: 25px;
}

.self-img img {
    border-radius: 50%;
    width: 100%;
}

/* Nav bar */

.nav-bar {
    background-color: rgb(29, 112, 151);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li a {
    padding: 25px;
    margin: 15px;
    color: rgba(209, 204, 174, 1);
    font-weight: bold;
    font-size: 2vw;
    text-decoration: none;
    line-height: 2;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.nav-bar ul li a:hover {
    opacity: 0.5;
}

/* Main Content section */

.main-content {
    background-color: rgba(209, 204, 174, 1);
}

#about-me, #contact-me, #my-projects {
    text-align: center;
}

/* Section Titles */

.section-title {
    color: rgb(29, 112, 151);
    font-size: 42px;
    border-bottom: 2px solid rgb(72, 178, 228);
    text-align: center;
    display: inline-block;
    padding: 0px 200px 25px 200px;
}

/* About Me */

#about-me article {
    text-align: left;
}

#about-me article h3 {
    color: rgb(29, 112, 151);
    font-size: 30px;
    margin: 0px 0px 10px 10px;
}

#about-me article p {
    color: rgb(29, 112, 151);
    font-size: 24px;
    margin: 0px 10px;
}

/* My Projects Section */

.my-projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#my-projects div a {
    opacity: 1;
}

#my-projects div a:hover {
    opacity: 0.75;
}

#my-projects a {
    text-decoration: none;
    position: relative;
}


#my-projects a img {
    width: 550px;
    height: 200px;
    border: 5px solid rgb(29, 112, 151);
    padding: 0;
    margin: 15px;
    opacity: 0.75;
}

#first-application a img {
    width: 80%;
    height: 55%;
}

.app-label {
    width: 25%;
    height: auto;
    background-color: rgba(209, 204, 174, 0.5);
    z-index: 9998;
    color: rgb(29, 112, 151);
    background-color: rgba(209, 204, 174);
    position: absolute;
    border: 5px solid rgb(29, 112, 151);
}

.app-label h3 {
    font-size: 22px;
    font-weight: bolder;
}

/* Contact Me Section */

#contact-me {
    background-color: rgb(29, 112, 151);
}

#contact-me h2{
    color: rgba(209, 204, 174, 1);
    border-bottom: 2px solid rgba(209, 204, 174, 1);
}

#contact-me div p {
    color: rgba(209, 204, 174, 1);
    font-size: 22px;
    font-weight: bold;
}

#contact-me div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact-me div span {
    margin: 0;
    padding: 0;
}

.fa {
    margin: 10px 50px 5px 50px;
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
    background-color: #3b5998;
    color: white;
}

.fa-linkedin{
    background-color: #0e76a8;
    color: white;
}

.fa-envelope {
    background-color: #3b5998;
    color: white;
}

/* Media Queries */

@media screen and (max-width: 980px) {
    .fa {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar ul li a {
        font-size: 3vw;
    }
    
    .hero-box {
        width: 50%;
    }

    .hero h2 {
        font-size: 30px;
    }

    .hero h3 {
        font-size: 22px;
    }

    .self-img {
        padding: 25px;
        margin: 10px 60px;
    }

    .section-title {
        padding: 0px 125px 25px 125px;
        font-size: 30px;
    }

    #my-projects a img {
        width: 500px;
    }

    .app-label h3 {
        font-size: 18px;
    }

    .app-label h4 {
        font-size: 16px;
    }

    #contact-me div p {
        font-size: 15px;
    }

    #about-me article h3 {
        font-size: 25px;
        margin-left: 20px;
    }

    #about-me article p {
        font-size: 20px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 575px) {
    .nav-bar ul li a {
        padding: 10px 5px;
        margin: 5px;
        font-size: 4vw;
    }
    
    .hero-box {
        width: 100%;
        background-color: rgba(209, 204, 174, 0.65);
    }

    .hero h2 {
        font-size: 30px;
    }

    .hero h3 {
        font-size: 22px;
    }

    .section-title {
        padding: 0px 50px 15px 50px;
        font-size: 20px;
    }

    #my-projects a img {
        width: 250px;
    }

    #first-application a img {
        width: 250px;
        height: 200px;
    }

    .app-label h3 {
        font-size: 10px;
    }

    .app-label h4 {
        font-size: 8px;
    }

    #contact-me div p {
        font-size: 1px;
        opacity: 0;
    }

    #about-me article h3 {
        font-size: 16px;
    }

    #about-me article p {
        font-size: 14px;
        padding: 0 10px;
    }

    .fa {
        margin: 0 10px 20px 10px;
        padding: 5px;
    }

    .fa-envelope {
        margin-right: 42px;
    }
}
